/* class select navbarlist and change lists within it */
.navBarList li {
  margin: 10px;
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div button {
  margin-top: 15px;
}

img {
  max-width: 500px;
  max-height: 500px;
}

body h1 {
  text-align: center;
}